//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
//(xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

$screen-xs:                  0;
$screen-sm:                  576px;
$screen-md:                  768px;
$screen-lg:                  992px;
$screen-xl:                  1200px;

$screen-xs-max:              ($screen-sm - 1);
$screen-sm-max:              ($screen-md - 1);
$screen-md-max:              ($screen-lg - 1);
$screen-lg-max:              ($screen-xl - 1);
$screen-xl:                  1200px;

#blackout{
  position: fixed;
  width:100%;
  height: 100vh;
  top:0;
  left:0;
  background: rgba(255,255,255,1);
  z-index: 100;
  transition: opacity 0.3s ease-in-out, visibility .3s;
  transition-delay: .3s;
  opacity:0;
  visibility: hidden;
  &.active{
    opacity:1;
    visibility: visible;
  }
}

#menu{
  position: fixed;
  top:1em;
  right:1em;
  z-index: 200;
  width: 40px;
  min-width: auto;
  margin:0;
  height:52px;
  background: transparent;
  border:none;
  border-radius:0;
  outline: none;
  padding:0;
  @media (min-width: $screen-lg){
    display: none;
  }
  .bars{
    width: 24px;
    height: 9px;
    transform: rotate(0deg) translate(-50%,-50%);
    transition: .5s ease-in-out;
    z-index:2;
    position: absolute;
    left:50%;
    top:50%;
    .icon-bar{
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $color3;
      border-radius: 2px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }
    .icon-bar:nth-child(1){
      top: 0;
      transform-origin: left center;
    }
    .icon-bar:nth-child(2){
      top: 6px;
      transform-origin: left center;
    }
    .icon-bar:nth-child(3){
      top: 12px;
      transform-origin: left center;
    }
  }

  &:hover{
    background: transparent;
    border:none;
    border-radius:0;
    outline: none;

  }
  &.active{
    background: transparent;
    border:none;
    border-radius:0;
    outline: none;
    box-shadow: none;
    .bars{
      .icon-bar:nth-child(1){
        transform: rotate(45deg);
        top: -1px;
        left: 0;
      }
      .icon-bar:nth-child(2){
        width: 0%;
        opacity: 0;
      }
      .icon-bar:nth-child(3){
        transform: rotate(-45deg);
        top: 16px;
        left: 0;
      }
    }
  }


}

.topnav.w{
  #menu {
    .bars {
      .icon-bar {
        background: #fff;
      }
    }
  }
}

.mb-active{
  .topnav.w{
    #menu {
      .bars {
        .icon-bar {
          background: $color3;
        }
      }
    }
  }
}

header{
  position: fixed;
  z-index:999;
  left:0;
  top:0;
  width:100%;
  height:70px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);

  @media (max-width: $screen-lg) {
    backdrop-filter: blur(0);
    background: transparent;
    overflow: visible;
  }
  .page{
    display: flex;
    flex-direction: row;
    align-content: center;
    max-width: 100%;
    height:100%;
  }
  .topnav nav{

    flex-grow: 1;
    display: block;
    @media (max-width: $screen-lg) {
      position: fixed;
      left: 0;
      top:0;
      height:100vh;
      width:100%;
    }
    ul{
      list-style: none;
      padding:0;
      margin:0 0 0 .5em;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height:100%;
      position: relative;
      li{
        //padding:0 .3em;
        padding:0;
        line-height:1;
        margin:0;
        height:100%;
        display: flex;
        align-items: center;

        &:hover, &.active{
          a{
            color: $color3;
            text-decoration: none;
          }
        }
        @media (max-width: $screen-lg) {
          padding: 0 1em;
          border-bottom: 1px solid #000;
          width:100%;
          text-align: center;
          height:auto;
          flex-direction: column;
          justify-content: center;
          &:last-child{
            border-bottom: none;
          }
        }
        @media (max-width: 600px) {
          width:80%;
        }
      }

      @media (max-width: $screen-lg) {
        flex-direction: column;
        z-index: 500;
        position: absolute;
        width: calc(100% - 80px);
        right: 40px;
        justify-content: flex-start;
        top:60px;
        margin:0;
      }
      @media (max-width: 600px){
        //width: calc(100% - 20px);
        //right: 10px;
        //top:0;

      }
    }

    button{
      background: none;
      border:none;
      padding-left:0;
      padding-right:0;
      cursor: pointer;
      position: relative;
    }
    a, button{
      text-decoration: none;
      color: $color3;
      display: inline-block;
      transition: .25s ease-in-out;
      @media (max-width: $screen-lg) {
        line-height:3em;
      }
    }


    button{
      .arrow{
        display: inline-block;
        transform: scale(1, 1);
        width:16px;
      }
    }
    li{
      &.active{
        button{
          .arrow{
            transform: scale(1, -1);
          }
        }
      }
    }

  }
  .topnav.w nav{
    ul{
      li{
        a, button{
          color: #fff;
        }

        &:hover, &.active{
          a{
            color: #fff;
          }
        }
      }
    }
  }
}

.mb-active{
  .topnav.w nav{
    ul{
      li{
        a, button{
          color: $color3;
        }

        &:hover, &.active{
          a{
            color: $color3;
          }
        }
      }
    }
  }
}

// animation on click
header{
  nav{
    @media (max-width: $screen-lg) {
      visibility: hidden;
    }
    ul{
      @media (max-width: $screen-lg) {
        transform:translate(20%, -30%) scale(.75);
        opacity:0;
      }

    }

  }

  &.mb-active{
    nav{
      visibility: visible;
      transition:visibility .3s;
      ul{
        transform:translate(0, 0) scale(1);
        transition:opacity .3s, transform .4s;
        transition-delay: .3s;
        opacity:1;
      }
    }
  }
  &.mb-inactive{
    @media (max-width: $screen-lg) {
      nav{
        visibility: hidden;
        transition:visibility 1s;
        ul{
          transform:translate(20%, 0);
          transition:opacity .3s, transform .5s;
          opacity:0;
        }
      }
    }
  }

}