//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
//(xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

$screen-xs:                  0;
$screen-sm:                  576px;
$screen-md:                  768px;
$screen-lg:                  992px;
$screen-xl:                  1200px;

$screen-xs-max:              ($screen-sm - 1);
$screen-sm-max:              ($screen-md - 1);
$screen-md-max:              ($screen-lg - 1);
$screen-lg-max:              ($screen-xl - 1);
$screen-xl:                  1200px;

#social{
  position: relative;
  overflow: hidden;
  .container-fluid{
    max-width: 100%;
    padding-top:60px;
    padding-bottom:120px;
    @media (max-width: 480px) {
      padding-bottom:60px;
    }

  }
  .instagram, .musica{
    max-width: 90px;
  }
  .page{
    display: flex;
    justify-content: space-between;
    @media (max-width: 800px) {
      flex-direction: column;
    }
    .modulo{
      width:47%;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 800px) {
        width:100%;
        margin-bottom:3em;
        min-height: 0;
      }
    }
  }
  h3{
    font-size:1.5em;
  }
  text-align: center;

  .db{
  }
  p{
    max-width: 380px;
    margin-left:auto;
    margin-right:auto;
    @media (max-width: 480px) {
      font-size:.875em;
    }

  }

  .hojassuperiores{
    top:-80px;
    left:35%;
    @media (max-width: 480px) {
      top:20px;
      left:auto;
      right:-130px;
    }
  }
  .hojasinferiores{
    bottom:-90px;
    right:7%;
    @media (max-width: 480px) {
      bottom:-120px;
      right:0;
    }
  }
}