//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
//(xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

$screen-xs:                  0;
$screen-sm:                  576px;
$screen-md:                  768px;
$screen-lg:                  992px;
$screen-xl:                  1200px;

$screen-xs-max:              ($screen-sm - 1);
$screen-sm-max:              ($screen-md - 1);
$screen-md-max:              ($screen-lg - 1);
$screen-lg-max:              ($screen-xl - 1);
$screen-xl:                  1200px;

#superior{
  background: #000;
  color: #fff;
  p{
    margin: 0 auto;
    width:100%;
    max-width: 32em;
  }
  .info{
    padding:2em 0;
  }
  h2, h3{
    &.deco{
      &:after{
        background: #fff;
      }
    }
  }
  h3{
    font-size:2.1875em;
    font-weight:500;
    margin: 0 auto;
    width:100%;
    max-width: 20em;
    margin-top:2em;
    margin-bottom:2em;
    @media (max-width: $screen-sm) {
      font-size:1.5em;
    }
  }
}

.especialidades{
  width:100%;
  margin:0 auto;
  max-width: 1460px;
  padding:0 2em 2em;
  //display: flex;
  //justify-content: space-between;
  //flex-wrap: wrap;
  //align-items: flex-start;

  .grid-item{
    width:30%;
    padding:1% 1%;
    .content{
      border-radius: 10px;
      background: #fff;
      overflow: hidden;
      color: #000;
    }

    h4{
      font-weight:500;
      font-size:1.25em;
      text-align: left;
    }
    .imagen{
      background-size: cover;
      background-position: center;
      height:230px;
    }
    .desc{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:1em;
    }
    button{
      background: transparent;
      border: none;
      cursor: pointer;
    }
    .details{
      padding:1em;
      display: none;
      p, ul{
        margin:1em 0;
        width:100%;
        max-width: 100% !important;
        font-family: 'Merriweather', serif;
        font-weight:400;
      }
      ul{
        padding:0 1em;
      }
      h5{
        text-transform: none;
        text-align: left;
        font-size:1.125em;
        margin-top:2em;
        margin-bottom:1em;
      }
    }


    &.active{
      width:60%;
      .details{
        display: block;
      }
      h4{
        font-weight:700;
        &:after{
          content: "";
          width:30%;
          max-width: 170px;
          display: block;
          height:4px;
          background: #000;
        }
      }
      button{
        position: absolute;
        right:1em;
        top:3em;
        transform: rotate(52grad);
      }
    }
  }
}