//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
//(xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

$screen-xs:                  0;
$screen-sm:                  576px;
$screen-md:                  768px;
$screen-lg:                  992px;
$screen-xl:                  1200px;

$screen-xs-max:              ($screen-sm - 1);
$screen-sm-max:              ($screen-md - 1);
$screen-md-max:              ($screen-lg - 1);
$screen-lg-max:              ($screen-xl - 1);
$screen-xl:                  1200px;

#ubicacion{
  h3{
    margin-bottom:1em;
    @media (max-width:$screen-md) {
      margin-top:2em;
    }
  }
  p{
    text-align: center;
    margin:0;
  }
  a{
    color: $color0;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}